<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .chart {
            flex: 100%; 
            padding: 10px;
            box-sizing: border-box; 
        }
    </style>
</head>
<body>
    <h1>Pie Charts for Smoking History and Heart Disease</h1>

    <div class="row">
        <div class="chart">
            <h2>Smoking History - Diabetes</h2>
            <div id="pie_diabetes_smoking"></div>
            <script>
                var data_diabetes_smoking = {{ graphJSON_diabetes_smoking | safe }};
                Plotly.newPlot('pie_diabetes_smoking', data_diabetes_smoking.data, data_diabetes_smoking.layout);
            </script>
        </div>
    </div>

    <div class="row">
        <div class="chart">
            <h2>Heart Disease - Diabetes</h2>
            <div id="pie_diabetes_heart"></div>
            <script>
                var data_diabetes_heart = {{ graphJSON_diabetes_heart | safe }};
                Plotly.newPlot('pie_diabetes_heart', data_diabetes_heart.data, data_diabetes_heart.layout);
            </script>
        </div>
    </div>

    <div class="row">
        <div class="chart">
            <h2>Smoking History - Non-Diabetes</h2>
            <div id="pie_non_diabetes_smoking"></div>
            <script>
                var data_non_diabetes_smoking = {{ graphJSON_non_diabetes_smoking | safe }};
                Plotly.newPlot('pie_non_diabetes_smoking', data_non_diabetes_smoking.data, data_non_diabetes_smoking.layout);
            </script>
        </div>
    </div>

    <div class="row">
        <div class="chart">
            <h2>Heart Disease - Non-Diabetes</h2>
            <div id="pie_non_diabetes_heart"></div>
            <script>
                var data_non_diabetes_heart = {{ graphJSON_non_diabetes_heart | safe }};
                Plotly.newPlot('pie_non_diabetes_heart', data_non_diabetes_heart.data, data_non_diabetes_heart.layout);
            </script>
        </div>
    </div>

</body>
</html>
