<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Surface Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header style="text-align: right;">
        <a href="{{ url_for('index6') }}"><button type="button" class="btn btn-outline-primary me-2">Next</button></a>
    </header>
    <h1>3D Surface Plot of BMI, Age, and HbA1c Level for People with Diabetes</h1>
    <div id="plot"></div>
    <script>
        var plot = {{ plot|safe }};
        Plotly.newPlot('plot', plot);
    </script>
</body>
</html>
