<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="exampleModalLabel">OTP Verification</h5>
                    <button type="button" class="close btn btn-ghost " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fs-2">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="number" class="p-2 bg-light rounded-md" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-ghost p-0">{{ form.submit(class="btn btn-success") }}</button>
                </div>
                </div>
            </div>
        </div>